{% extends "base.html" %}


{% block title %} Crawl Stats {% endblock %}

{% block content %}
    <br>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Crawl Output Stats</h1>

        </div>

        <!-- /.col-lg-12 -->
    </div>
    <br>
    <hr>
    <div>
        <canvas id="canvas" height="200" width="600"></canvas>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Per State Stats</h1>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <label for="sel1">Select state:</label>
            <select class="form-control" id="sel_states">
                {% for s in states %}
                    <option>{{ s }}</option>
                {% endfor %}
            </select>
        </div>


    </div>
    <br>
    <hr>
    <div id="state-canvas-container" style="height:300px;">
        <canvas id="canvas2" height="200" width="600"></canvas>
    </div>



    <script src="/static/charts/Chart.js"></script>
    <script src="/static/js/jquery-1.11.2.min.js"></script>


    {# JAVASCRIPT FUNCTIONS   #}


    <script type="text/javascript">

        var lineChartData = {
            labels: $.parseJSON('{{ date_labels|safe }}'),
            datasets: [
{##}
{#                {#}
{#                    label: "Dockets Crawled",#}
{#                    fillColor: "rgba(220,220,220,0.2)",#}
{#                    strokeColor: "rgba(220,220,220,1)",#}
{#                    pointColor: "rgba(220,220,220,1)",#}
{#                    pointStrokeColor: "#fff",#}
{#                    pointHighlightFill: "#fff",#}
{#                    pointHighlightStroke: "rgba(220,220,220,1)",#}
{#                    data: $.parseJSON('{{ total_dockets|safe }}')#}
{#                },#}
{#                {#}
{#                    label: "Filings Crawled",#}
{#                    fillColor: "rgba(220,220,220,0.2)",#}
{#                    strokeColor: "rgba(220,220,220,1)",#}
{#                    pointColor: "rgba(220,220,220,1)",#}
{#                    pointStrokeColor: "#fff",#}
{#                    pointHighlightFill: "#fff",#}
{#                    pointHighlightStroke: "rgba(220,220,220,1)",#}
{#                    data: $.parseJSON('{{ total_filings|safe }}')#}
{#                },#}
                {
                    label: "Documents Crawled",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: $.parseJSON('{{ total_documents|safe }}')
                }
            ]

        };

        window.onload = function () {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx).Line(lineChartData, {
                responsive: true
            });
        };

        $('#sel_states').change(testMessage);

        function testMessage() {
            $('#canvas2').remove(); // this is my <canvas> element
            $('#state-canvas-container').append('<canvas id="canvas2" height="200" width="600"></canvas>');

            var ctx_dict = $.parseJSON('{{ complete_ctx|safe }}');
            var state = $("#sel_states").find("option:selected").text();
            var date_array = $.parseJSON('{{ date_labels|safe }}');

            var dockets = [];
            var filings = [];
            var documents = [];

            for (var i = 0; i < date_array.length; i++) {
                dockets.push(ctx_dict[date_array[i]][state]["docket_count"]);
                filings.push(ctx_dict[date_array[i]][state]["filings_count"]);
                documents.push(ctx_dict[date_array[i]][state]["documents_count"]);

            }

            var ctx = document.getElementById("canvas2").getContext("2d");

            {#            var canvas = document.getElementById("canvas2");#}
            {#            canvas.width = canvas.width;#}
            {#            canvas.height = canvas.height;#}

            var lineChartData = {
                labels: $.parseJSON('{{ date_labels|safe }}'),
                datasets: [

                    {
                        label: "Dockets Crawled",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: dockets
                    },
                    {
                        label: "Filings Crawled",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: filings
                    },
                    {
                        label: "Documents Crawled",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: documents
                    }
                ]

            };

            window.myLine = new Chart(ctx).Line(lineChartData, {
                responsive: true
            });
        }
    </script>
{% endblock %}
